*.aux
*.blg
*.fdb_latexmk
*.log
*.out
*.bcf
*.synctex.gz
*.lof
*.lot
latex.out/*.*
*.brf
*.ind
*.ilg
*.toc
*.idx
*.cls
*.el
*.bbl
*.gz
*.bbl
*.xml
.DS_Store
*.glue
/.DS_Store
/latex.out/
/latex.out/.latexrun.db
/latex.out/MJThesis.aux
/latex.out/MJThesis.bbl
/latex.out/MJThesis.blg
/latex.out/MJThesis.fls
/latex.out/MJThesis.lof
/latex.out/MJThesis.log
/latex.out/MJThesis.lot
/latex.out/MJThesis.out
/latex.out/MJThesis.pdf
/latex.out/MJThesis.toc
/latex.out/appendix/appendix.aux
/latex.out/lps_chapter/lps_chapter.aux
/lps_chapter/auto/lps_chapter.el
/auto/MJThesis.el
/MJThesis.pdf
/MJThesis.bbl
/MJThesis.run.xml
/intro/.DS_Store
/latex.out/front_matter/abstract.aux
/latex.out/front_matter/ack.aux
/latex.out/front_matter/preface.aux
/latex.out/intro/intro.aux
/lps_chapter/.DS_Store
/latex.out/front_matter/dedication.aux
/lps_chapter/_region_.tex
/.gitignore
/crystal_chapter/.DS_Store
/intro/auto/intro.el
/appendix/_region_.tex
/crystal_chapter/_region_.tex
/image.png
/intro/img/rtx-white.eps
/intro/img/rtx.ini
/intro/img/rtx.jpg
/intro/img/rtx.png
/intro/img/rtx.pov
/appendix/Rightslink Printable License.pdf
/intro/img/lpsoverview.ai
